/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Import the custom font */
@font-face {
    font-family: 'Vergilia';
    src: url('../fonts/Vergilia-mL6aa.ttf') format('truetype');

    font-family: 'Manrope';
    src: url('../fonts/Manrope/static/Manrope-Regular.ttf') format('truetype');
  }
  
  h3 {
    font-family: 'Vergilia';
  }

  p {
    font-family: 'Manrope';
    font-size: 1vw;
  }
  
  /* Navigation bar start */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFB;
    color: #1A1925;
    padding: 1.5vw 12vw;
  }
  
  .nav-left {
    font-size: 1.2vw;
    font-weight: 1000;
    font-family: 'Vergilia';
  }

  .nav-left a{
    text-decoration: none;
    color: #1A1925;
  }
  
  .nav-right {
    list-style-type: none;
    display: flex;
    gap: 2.8vw; /* Space between menu items */
  }
  
  .nav-right li a {
    color: #1A1925;
    text-decoration: none;
    font-family: 'Manrope';
    font-size: 0.9vw;
    font-weight: 500;
    /* transition: all 300ms ease-in; */
    padding: 0.4vw;
  }
  
  .nav-right li a:hover {
    text-decoration: underline;
    font-weight: 600;
    /* transition: 500ms; */
  }

  .nav-left:hover {
    cursor: pointer;
  }
   /* Navigation bar end */

  /* Banner start */
  .banner {
    display: inline-flex;
    width: 100%;
    background-color: #F5F0E7;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .banner-left {
    width: 50%;
  }

  #banner-left-image {
    width: 34vw;
    display: block;
    margin: auto;
    
  }

  .banner-right {
    width: 50%;
    display: block;
    margin: auto;
  }

  #banner-right-text {
    max-width: 25vw;
    word-wrap: break-word;
  }

  #banner-right-line {
    width: 8vw;
  }
  /* Banner end */

  /* Projects start */
  .project-container{
    padding: 3vw 12vw;
  }

  #project-header-text, #stay-tuned-text {
    font-size: 1.5vw;
    color: #3B3F64;
  }

  #nhg-project, #capitalview-project, #design-project, #gongcha-project {
    display: inline-flex;
    align-items: center; /* Ensure vertical alignment if needed */
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    gap: 1vw; 
    margin: 2.5vw 0;
  }

  #nhg-project:hover, #capitalview-project:hover, #design-project:hover, #gongcha-project:hover {
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.250s ease-in-out;
    opacity: 0.9;
  }
  
  .project-image {
    width: 38vw;
    position: relative; /* Needed for overlapping */
  }
  
  .project-text-container {
    background-color: #282828;
    padding: 2vw;
    border-radius: 8px;
    position: relative; /* Allows offset with negative margins */
    margin-left: -3vw; /* Adjust this value for desired overlap */
    z-index: 1; /* Ensures it appears above the image */
    max-width: 30vw; /* Make sure it's responsive */
  }
  
  .project-text-header {
    color: #FFFFFF;
    font-size: 1.5vw;
    margin-top: 0;
  }
  
  .project-text {
    color: #F5F0E7;
  }
  
  .project-read-more {
    display: inline-flex;
    align-items: center; /* Vertical alignment for text and arrow */
    border-bottom: 1px solid #282828;
    transition: 250ms;
  }

  .project-read-more:hover {
    border-bottom: 1px solid #F5F0E7;
    transition: 250ms;
  }
  
  .read-more-text {
    color: #F5F0E7;
    margin: 0 0.25vw 0 0;
  }
  
  .read-more-arrow {
    max-width: 1.5vw;
  }
  /* Projects end */

  /* NHG Project start */

  .nhg-container{
    padding: 3vw 12vw;
  }

  #nhg-title {
    width: 78vw;
    margin-top: 4vw;
  }

  .project-overview-container {
    display: flex;
    gap: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }

  .overview-title {
    font-weight: 600;
  }

  .overview-description {
    max-width: 20vw;
    word-wrap: break-word;
  }

  #nhg-image1, #nhg-image6, #nhg-image7 {
    max-width: 100%;
  }

  .project-description-container {
    margin: 6vw auto;
    max-width: 40vw;
  }

  .project-description-title {
    font-size: 1.5vw;
  }

  #nhg-image2, #nhg-image3, #nhg-image4, #nhg-image5 {
    width: 52vw;
    margin: 0 auto;
    display: block;
  }

  .image-caption {
    margin: 1vw 0 6vw 0;
    text-align: center;
    color: #646464;
  }

  .dot-separator {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 6vw;
  }

  /* NHG Project end */

  /* Footer start */
  footer {
    background-color: #EFEBF0;
    padding: 6vw 0;
  }

  #footer-star {
    width: 3vw;
    display: block;
    margin: auto;
  }

  .footer-link-group {
    display: flex;
    justify-content: center; 
  }

  .footer-link {
    padding: 1.5vw;
  }

  .footer-link a{
    text-decoration: none;
    color: #282828;
  }

  .footer-link a:hover {
    font-weight: 600;
    text-decoration: underline;
  }

  .footer-credit {
    text-align: center;
  }

  #design-credit{
    margin: 0.5vw 0;
  }

  #coding-credit {
    margin-top: 0.5vw;
  }
  /* Footer end */
  